# Kali Linux upstream
/auto/
/simple-cdd/
/.getopt.sh
/.mirror
/build.sh
/build_all.sh
/live-build-config.tar.gz

# Keep just my custom variant
/kali-config/*
!/kali-config/variant-bsum/

# Created from templates
/kali-config/variant-bsum/includes.chroot/home/*
!/kali-config/variant-bsum/includes.chroot/home/@USERNAME@/

# `live-build` files
/.build/
/binary/
/cache/
/chroot/
/config/
/images/
/local/
/.lock
/build.log
/chroot.files
/chroot.packages.install
/chroot.packages.live
/*.contents
/*.files
/*.iso*
/*.packages
