#### Contents of the preconfiguration file (for bsum-kali-linux)
### Localization
d-i debian-installer/locale string fr_FR.UTF-8
d-i keyboard-configuration/xkb-keymap select fr

### Network configuration
d-i netcfg/get_hostname string @HOSTNAME@
d-i netcfg/get_domain string homenetwork

### Mirror settings
d-i mirror/country string France
d-i mirror/http/hostname string @MIRROR@
d-i mirror/http/directory string /kali

### Account setup
d-i passwd/root-login boolean true
d-i passwd/user-default-groups string adm audio bluetooth cdrom kali-trusted lightdm lp mlocate plugdev users video sys systemd-journal

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true

### Base system installation
#d-i base-installer/kernel/image string linux

### Apt setup
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
# Disable security, updates and backports
d-i apt-setup/services-select multiselect

### Package selection
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select none
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

### Finishing up the installation
d-i finish-install/keep-consoles boolean true

### Random other questions
console-setup console-setup/charmap47 select UTF-8
samba-common samba-common/dhcp boolean false
macchanger macchanger/automatically_run boolean false
kismet-capture-common kismet-capture-common/install-users string
kismet-capture-common kismet-capture-common/install-setuid boolean true
wireshark-common wireshark-common/install-setuid boolean false
sslh sslh/inetd_or_standalone select standalone
atftpd atftpd/use_inetd boolean false
